.calendar-header {
  width: 100%;
  padding: 16px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__btn {
    display: block;
    background-color: transparent;
    border: none;
  }

  &__icon {
    fill: var(--font-primary);
    width: 25px;
    height: 25px;
  }
}