.calendar-body {
  color: var(--font-primary);

  &__week {
    display: flex;
    justify-content: center;
  }

  &__day {
    width: 42px;
    height: 42px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
   
    &:hover {
      .calendar-body__date  {
        background-color: var(--hovered);
        color: var(--white);
      }
    }
  }

  &__date {
    color: var(--font-primary);
    transition: background-color 0.2s ease, color 0.2s ease;
    padding: 12px;
    border-radius: 50%;
  }

  &__disabled-date {
    color: var(--disabled);
  }
}