.calendar-body {
  color: var(--font-primary);
  display: flex;

  &__month {
    flex: 1 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__week {
    display: flex;
  }

  &__day {
    width: 42px;
    height: 42px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
   
    &:hover {
      .calendar-body__date {
        background-color: var(--hovered);
      }
    }
  }

  &__date {
    color: var(--font-primary);
    transition: background-color 0.2s ease, color 0.2s ease;
    padding: 12px;
    border-radius: 50%;
  }

  &__selected-startDate{
    background-color: var(--dark);
    color: var(--white);
  }

  &__selected-endDate{
    background-color: var(--dark);
    color: var(--white);
  }
  
  &__selected-implicitDate{
    background-color: var(--implicit);
    color: var(--white);
  }

  &__disabled-date {
    color: rgb(202, 202, 202);
  }

  &__remove-date {
    color: var(--invisible);
    display: none;
  }
}