.calendar-actions {
    width: 400px;
    background-color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    display: flex;

  &__btn {
    padding: 24px 16px;
    border-radius: 8px;
    display: flex;
    flex: 1;
    background-color: var(--white);
    border: 3px solid transparent;

    &__selected-focus {
      border: 3px solid var(--orange);
    }
  }

  &__input {
    border: none;
  }

  &__icon {
    fill: var(--font-secondary);
  }
}